In [19]:
d1 = pd.DataFrame({"name":["karan","prakash","lili"],"id":[1,2,3]})

In [23]:
d2 = pd.DataFrame({"name":["karan","prakash","prakash"],"id":[1,1,2]})

In [24]:
import pandas as pd

d = pd.merge(d1,d2,on= ["id","name"],how="inner")

In [25]:
d

      name  id
0    karan   1
1  prakash   2